<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build-it</title>
    <!-- My files -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/builder.css') }}">
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color: #1a2238; color: #d1d5db;">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--background-color);">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
            <img src="../static/images/favicon.png" alt="Logo" class="logo_img me-2" style="width: 35px; height: auto;">
            <span style="font-size: 1.8rem; font-weight: bold; color: var(--text-color);">Build-it</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Main Section -->
<main class="container mt-5">
    <h2 class="text-center">Build Your PC</h2>

    <!-- Progress bar -->
    <div class="container mt-3">
        <div class="progress">
            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>

    <!-- Centro contenuti -->
    <div class="mt-4 mx-auto" style="max-width: 600px;">
        <!-- Selezione CPU -->
        <div class="mb-3">
            <label for="cpu" class="form-label">Choose CPU:</label>
            <select id="cpu" class="form-select" onchange="loadCompatibleComponents(this)">
                <option value="">Select CPU</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione Motherboard -->
        <div class="mb-3">
            <label for="mobo" class="form-label">Choose Motherboard:</label>
            <select id="mobo" class="form-select" onchange="loadCompatibleComponents(this)">
                <option value="">Select Motherboard</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione RAM -->
        <div class="mb-3">
            <label for="ram" class="form-label">Choose RAM:</label>
            <select id="ram" class="form-select">
                <option value="">Select RAM</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione COOLING -->
        <div class="mb-3">
            <label for="cooling" class="form-label">Choose Cooling:</label>
            <select id="cooling" class="form-select">
                <option value="">Select Cooling</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione GPU -->
        <div class="mb-3">
            <label for="gpu" class="form-label">Choose GPU:</label>
            <select id="gpu" class="form-select" onchange="loadCompatibleComponents(this)">
                <option value="">Select GPU</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>


        <!-- Selezione STORAGE -->
        <div class="mb-3">
            <label for="storage" class="form-label">Choose Storage:</label>
            <select id="storage" class="form-select">
                <option value="">Select Storage</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione PSU -->
        <div class="mb-3">
            <label for="psu" class="form-label">Choose Power Supply:</label>
            <select id="psu" class="form-select" onchange="loadCompatibleComponents(this)">
                <option value="">Select Power Supply</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>

        <!-- Selezione CASE -->
        <div class="mb-3">
            <label for="case" class="form-label">Choose Case:</label>
            <select id="case" class="form-select">
                <option value="">Select Case</option>
                <!-- Le opzioni saranno caricate dinamicamente -->
            </select>
        </div>
    </div>


    <div id="selected-components-container" style="display:none;">
        <h3>Selected Components:</h3>
        <ul id="selected-components-list"></ul>
    </div>

    <!-- Button to proceed to the next step -->
    <div class="text-center">
        <button id="reset-button" class="btn btn-primary mt-4" disabled>Reset</button>
        <button id="next-step-btn" class="btn btn-primary mt-4" disabled>Confirm</button>
    </div>
</main>

<!-- Footer -->
<footer class="text-center mt-5" style="background-color: var(--background-color); color: var(--text-color); padding: 15px;">
    <p>&copy; 2025 Build-it. All rights reserved.</p>
</footer>

<!-- Bootstrap and jQuery scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Custom scripts -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
