:root {
    --text-color: #d1d5db; /* Grigio chiaro per il testo */
}

.main-section {
    text-align: center;
    margin-top: 3rem;
}

.main-section .logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.main-section h1 {
    margin-bottom: 1.5rem;
}

.main-section p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.main-section .btn-primary {
    margin-top: 2rem;
}
