#selected-components-container {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);  /* Use dark cobalt blue */
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);  /* Delicate shadow */
    position: relative;  /* Make sure the container can accommodate external elements */
}

#selected-components-container h3 {
    font-size: 1.5em;
    color: var(--accent-color); /* Use accent color */
    margin-bottom: 15px;
}

#selected-components-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: none;  /* Remove height restriction */
}

#selected-components-list li {
    background-color: #2a3656;  /* Dark blue for item background */
    margin: 8px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #3f4c6b;  /* Lighter blue for the border */
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;  /* Only the transition for the hover color */
}

#selected-components-list li:hover {
    background-color: var(--hover-color); /* Use lighter blue for hover */
}

#selected-components-list li strong {
    font-weight: bold;
    color: var(--accent-color);  /* Use accent color for component name */
}

/* Remove max-height and overflow, so the list will not be limited in height */
#selected-components-list {
    max-height: none;
    overflow-y: visible;
}

/* */


/* Style for the progress bar */
#progress-bar {
    width: 0%;
    transition: width 0.4s ease-in-out;
}

/* Form container */
.component-form-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   }

   /* Hidden container of selected components */

    #selected-components-container {
        display: none;
    }


