/* Logo's style*/
.logo_img {
    width: 35px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

/* Logo's image style*/
.logo {
    color: var(--text-color);
    font-size: 30px;
}






