
:root {
    --background-color: #1a2238; /* Dark cobalt blue */
    --accent-color: #a9b1bc; /* Silver for text and details */
    --text-color: #d1d5db; /* Light grey for text */
    --dropdown-bg: #2a3656; /* Dark blue for dropdown */
    --hover-color: #3f4c6b; /* Lighter blue for hover */
    --shadow-color: rgba(0, 0, 0, 0.25); /* Delicate shadow */
}

.navbar {
    background-color: var(--background-color);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px var(--shadow-color);
}

.navbar h1.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--text-color);
    margin: 0;
}

.logo_img {
    width: 45px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
}


