/* Palette */
:root {
    --background-color: #1a2238;  /* Dark cobalt blue */
    --accent-color: #a9b1bc;  /* Silver for text and details */
    --text-color: #d1d5db; /* Light grey for text */
    --shadow-color: rgba(0, 0, 0, 0.25); /* Delicate shadow */
}

/* Body */
html, body {
    height: 100%; /* The page takes up the entire height of the window */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Column Layout */
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    color: var(--accent-color);
    letter-spacing: 1.2px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header h1:hover {
    color: var(--text-color);
}

/* Main content */
main {
    flex: 1; /* fills the available space */
    text-align: justify;
    padding: 20px;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    color: var(--text-color);
    font-size: 1.25rem;
}

/* Footer */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 6px var(--shadow-color);
    font-size: 0.9rem;
    width: 100%;
    letter-spacing: 0.5px;
}

footer p {
    margin: 0;
}

